.logo{
    width: 250px;
    height: 90px;
    margin: 0 auto;
    display: block;
}

.navbar-nav{
    margin-left: auto;
}

.item1{
    margin-right: 40px;
}

.item2{
    margin-right: 50px;
}

.item3{
    margin-right: 50px;
}

.item4{
    margin-right: 50px;
}

.quartos{
    max-width: 200px;
    max-height: 180px;
}