.logo{
    width: 250px;
    height: 90px;
    margin: 0 auto;
    display: block;
}

.navbar-nav{
    margin-left: auto;
}

.item{
    margin-right: 30px;
}

.quartos{
    max-width: 500px;
    max-height: 380px;
}